.custom-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFF8DC;
}

.custom-table th,
.custom-table td {
    border: 1px solid #808000;
    padding: 12px;
    text-align: left;
}

.custom-table th {
    background-color: #DAA520;
    color: #333;
    font-weight: bold;
}

.logout-btn {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #ffc107;
}
.table-container {
    max-height: 400px; /* Например, высота, которую вы хотите фиксировать */
    overflow-y: auto; /* Разрешаем прокрутку по вертикали */
}

.create-activity-form {
    margin-bottom: 20px;
}

.create-activity-form h2 {
    margin-bottom: 10px;
}

.create-activity-form .form-row {
    margin-bottom: 10px;
}

.create-activity-form label {
    display: block;
    margin-bottom: 5px;
}

.create-activity-form input[type="text"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-activity-form button {
    padding: 8px 20px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-activity-form button:hover {
    background-color: #0056b3;
}
